.Weather {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}
.Weather .city {
  margin: 20px 0 0 0;
  text-align: left;
}
.Weather .row {
  margin-top: 20px;
}
.row .col-6 {
  display: flex;
  align-items: center;
}
.Weather .col-6 img {
  width: 90px;
  height: 90px;
}
.Weather .temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin-left: 10px;
}
.Weather .units {
  position: relative;
  top: -32px;
  margin-left: 5px;
}
.Weather a {
  color: #3fb5fa;
}
.Weather ul {
  margin-bottom: 0;
}
.Weather li {
  list-style: none;
}
.btn-primary {
  background-color: #645e9d;
  border: 2px solid #645e9d;
  transition: all 150ms ease-out;
}
.btn-primary:hover {
  background-color: #433e73;
  border: 2px solid #433e73;
}
.search-input {
  background-color: rgba(82, 76, 134, 0.3);
  border: 2px solid #645e9d;
}
.search-input:focus-visible {
  outline: 2px solid #8ed2f8;
  background-color: white;
}
